In [2]:
import pandas as pd

In [5]:
# Verilen sözlüğü DataFrame'e dönüştürme
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
          "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
          "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}
df = pd.DataFrame(sozluk)

In [7]:
#2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 
kategori_2i = df.loc[2, "Kategori"]
kategori_2i

'Ayakkabı'

In [8]:
# 2. indexte bulunan ürün (sadece ürün bilgisi)
urun_2i = df.loc[2, "Ürün"]
urun_2i

'Sandalet'

In [9]:
# 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 
veriler_4_9i = df.loc[4:9, ["Kategori", "Ürün", "Fiyat"]]
veriler_4_9i

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [11]:
#1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi) 
urunler_1_6i = df.loc[1:6, "Ürün"]
urunler_1_6i

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

In [12]:
# Giyim kategorisinde bulunan ürünler
giyim_urunleri = df[df["Kategori"] == "Giyim"]
giyim_urunleri

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [13]:
# Ayakkabı kategorisinde bulunan ürünler
ayakkabi_urunleri = df[df["Kategori"] == "Ayakkabı"]
ayakkabi_urunleri

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [15]:
# Aksesuar kategorisinde bulunan ürünler
aksesuar_urunleri = df[df["Kategori"] == "Aksesuar"]
aksesuar_urunleri

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

In [16]:
# Giyim kategorisinde fiyatı 300'den fazla olan ürünler
giyim_300_fazla = df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]
giyim_300_fazla

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [17]:
# Ayakkabı kategorisinde fiyatı 600'den az olan ürünler
ayakkabi_600_az = df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]
ayakkabi_600_az

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [19]:
# Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarlar
aksesuar_100_fazla = df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]
aksesuar_100_fazla

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150